#logo {
  position:absolute;
  width:5%;
}

@keyframes cloudmoveright {
  0% {
    transform: translateX(0px);
    animation-timing-function:ease-in-out}
  50% {
    transform: translateX(-20px);
    animation-timing-function:ease-in-out}
  100% {
    transform: translateX(0px);
    animation-timing-function:ease-in-out}

}
@keyframes cloudmoveleft {
  0% {
    transform: translateX(0px);
    animation-timing-function:ease-in-out}
  50% {
    transform: translateX(20px);
    animation-timing-function:ease-in-out}
  100% {
    transform: translateX(0px);
    animation-timing-function:ease-in-out}

}
.cloudleft {
  animation: cloudmoveright 20s linear infinite both;
  fill:white;
}

.cloudright {
  animation: cloudmoveleft 20s linear infinite both;
  fill:white;

}
.cloud1 {
  position:absolute;
  top:50%;
  left:0;
}

#cloud2 {
  position:absolute;
  top:70%;
  left:70%;
}

#arrowright {
  max-width:125px;
  max-height:7.5%;
  fill:white;
  top:40%;
  left:70%;
  position:fixed;
  z-index:3;
}

#arrowleft {
  max-width:125px;
  max-height:7.5%;
  fill:white;
  top:40%;
  left:7.5%;
  position:fixed;
  z-index:3;
}

#arrowright:hover {
  transition-timing-function: opacity 2s ease-in-out;
  animation: arrowmove 2s linear infinite both;
  opacity:.5;
}

#arrowleft:hover {
  transition-timing-function: opacity 2s ease-in-out;
  animation: arrowmove 2s linear infinite both;
  opacity:.5;

}

@keyframes arrowmove {
  0% {
    transform:translateX(0px);
  }
  50% {
    transform:translateX(10px);
  }
  100% {
    transform:translateX(0px);
  }
}

#skill-list{
  position:absolute;
  left: 250%;
  top: 10%;
}
.skill-list-animate {
}
#about-list{
  position:absolute;
  top: 2.5%;
}

#zach {
  position:absolute;
  opacity:.9;
  bottom:0%;
  left: 90%;
}
#cityscape {
  bottom:0%;
  position:absolute;
  left: 155%;
  transform:scaleX(1.1);
}

#citycloud {
  position:absolute;
  left: 175%;
  top: 15%;
}
#sun {
  position:absolute;
  top: 5%;
  left: 225%;
}

.sun-rotate{
  animation:sun-animate 30s linear infinite both;
  transform-origin: 50% 50%;
}

#workexp{
  position:absolute;
  left: 300%;
}
@keyframes sun-animate{
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#download {
  position:absolute;
  left:335%;
  bottom:0%;
  opacity:1;

}

#project-box {
  position:absolute;
  left:405%;
  z-index:3;
}

#paperplane {
  position:absolute;
  max-width:80%;
  top:15%;
  left: 510%;
}

.plane {
  animation: plane-animate 5s linear infinite both;
}

@keyframes plane-animate {
 0% {
   transform: rotateX(0deg) rotateY(0deg);
 }
 50% {
   transform:rotateX(25deg) rotateY(25deg) translateX(100px);
 }
 100% {
   transform:rotateX(0deg) rotateY(0deg);
 }
}
#scenery {
  position: absolute;
  bottom:0;
  left:500%;
  z-index:1;
}
#field2 {
  position:absolute;
  bottom:0;
  left:470%;
  z-index:1;
}
#stars{
  position:absolute;
  max-height:80%;
  transform:scale(1.5);
  max-width:80%;
  z-index:0;
  -webkit-transition: opacity 2s ease-in-out; /* Safari */
  transition: opacity 2s ease-in-out;
  opacity:0;
}

#moon{
  opacity:.8;
  animation: moon-rotate 5s linear infinite both;
  transform-origin:center;
}
.little_stars_28 {
  animation: little-star-animate 3s linear infinite both;
}

.big_stars_28 {
  animation: big-star-animate 3s linear infinite both;
}

@keyframes moon-rotate {
  0% {
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(10deg);
  }
  100%{
    transform:rotate(0deg);
  }
}
@keyframes little-star-animate {
  0% {
    opacity:.25;
  }
  50% {
    opacity:1;
  }
  100%{
    opacity:.25;
  }
}
@keyframes big-star-animate {
  0% {
    opacity:.75;
  }
  50% {
    opacity:.25;
  }
  100%{
    opacity:.75;
  }
}

@keyframes cloudmoveright {
  0% {
    transform: translateX(0px);
    animation-timing-function:ease-in-out}
  50% {
    transform: translateX(-20px);
    animation-timing-function:ease-in-out}
  100% {
    transform: translateX(0px);
    animation-timing-function:ease-in-out}

}
@keyframes cloudmoveleft {
  0% {
    transform: translateX(0px);
    animation-timing-function:ease-in-out}
  50% {
    transform: translateX(20px);
    animation-timing-function:ease-in-out}
  100% {
    transform: translateX(0px);
    animation-timing-function:ease-in-out}

}
.cloudleft {
  animation: cloudmoveright 20s linear infinite both;
  fill:white;
}

.cloudright {
  animation: cloudmoveleft 20s linear infinite both;
  fill:white;

}
#cloud1 {
  position:absolute;
  top:50%;
  left:0;
}

#cloud2 {
  position:absolute;
  top:70%;
  left:70%;
}
#arrowright {
  fill:white;
  top:40%;
  left: 90%;
  opacity:1;
  position:fixed;
  z-index:5;
}

#arrowleft {
  max-width:125px;
  fill:white;
  top:40%;
  left:0%;
  opacity:1;
  position:fixed;
  z-index:5;
}

.arrow {
  opacity:1;

}
#arrowright:hover {
  transition-timing-function: opacity 5s ease-in-out;
  animation: arrowmove 2s linear infinite both;
  opacity:.5;
}

#arrowleft:hover {
  transition-timing-function: opacity 5s ease-in-out;
  animation: arrowmove 2s linear infinite both;
  opacity:.5;

}

@keyframes arrowmove {
  0% {
    transform:translateX(0px);
  }
  50% {
    transform:translateX(10px);
  }
  100% {
    transform:translateX(0px);
  }
}

svg > a:hover, g > a:hover {
  opacity:.5;
  -webkit-transition: opacity .25s ease-in-out; /* Safari */
  transition: opacity .25s ease-in-out;

}
